<!DOCTYPE html>

<html lang="en" ng-app="gameApp" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lucky B</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    <script src="/assets/lib/angularjs/angular.js" type="text/javascript"></script>
    <script src="/assets/lib/angularjs/angular-route.js" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/game.js")"></script>
</head>
    <body>
        <div ng-controller="GameController">
            <ul>
                <li ng-repeat="game in games"><a href="#" ng-click="getGame(game)" >{{ game }}</a></li>
            </ul>
            <input type="button" ng-click="newGame()" value="New Game"></input>
            <input type="button" ng-click="getGames()" value="Get Games"></input>

            <div>
                <div>Pile Value: {{ currentGame.pileValue }}</div>
                <div>Current Player: {{ currentGame.currentPlayer}}</div>
                <div>Direction: {{ currentGame.direction }}</div>
                <ul>
                    <li>Players' Cards</li>
                    <li ng-repeat="player in currentGame.players">{{ player.id }}
                        <div>
                            <div>In hand: {{ player.cardsInHandCount }}, Down: {{ player.cardsDownCount }}</div>
                            <img ng-repeat="card in player.cardsUp" ng-src="/assets/images/cards/{{ getCardPic(card) }}"></img>
                        </div>
                    </li>
                    <li>Pile
                        <div>
                            <img ng-repeat="card in currentGame.pile" ng-src="/asset/images/cards/{{ getCardPic(card) }}"></img>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-view></div>
    </body>
</html>